#parsing Log file
input{
	file{
		path => "C:/Users/sumit.chauhan/Downloads/logstash-tutorial/logstash-tutorial-dataset.log"
		start_position => "beginning"
		sincedb_path => "NUL"
	}
}

filter{
	
	grok{
		match => { "message" => "%{IP:client} - - \[%{GREEDYDATA:timestamp}\] %{GREEDYDATA:syslog_message}" }
	}
	
	 mutate {
		uppercase => [ "syslog_message" ]
		remove_field => [ "message" , "path"]
		add_field => { "name" => "Sumit" }
  }
  
  
}

output {
  elasticsearch { 
  	hosts => "localhost:9200"
  	index => "logAnalysis"
  }
  stdout {}
}