# Group,Country,Rank,Jersey,Position,Age,Selections,Club,Player,Captain,,
# A,Brazil,3,1,Goalie,31,9,Botafogo   ,Jefferson,0,,
input{
	file{
		path => "C:/Users/sumit.chauhan/Downloads/logstash-7.1.1/football_wc_data_1.csv"
		start_position => "beginning"
		sincedb_path => "NUL"
	}
}

filter{
	csv{
		columns => ["Group","Country","Rank","Jersey","Position","Age","Selections","Club","Player","Captain"]
		separator => ","
	}
	grok{
		  remove_field => [ "path" ]
	}
}

output {
  elasticsearch { 
  	hosts => "localhost:9200"
  	index => "football_worldcup_1"
  }
  stdout {}
}